<!DOCTYPE html>
<html lang="en">
<head>
  <title>Employees Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img src="assets/images/logo.png" alt="logo" style="width:40px;">
  </a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home"><b>HOME</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/employees"><b>EMPLOYEES</b></a>
    </li>
  </ul>
</nav>

<div style="text-align: center">
    <h1>{{message}}</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form>
                <fieldset>
                    <legend class="text-center">Valid information is required to add employee. <span class="req"><small>
                                required *</small></span></legend>

                    <div class="form-group">
                        <label for="Name"><span class="req">* </span> Name: <small>This will be your login employee
                                name</small> </label>
                        <input required type="text" [(ngModel)]="employee.name" name="name" id="name"
                            class="form-control phone" maxlength="28" placeholder="Enter your fullname..." />
                    </div>

                    <div class="form-group">
                        <label for="firstname"><span class="req">* </span> Email: </label>
                        <input class="form-control" type="text" [(ngModel)]="employee.email" name="email" id="txt" required
                            placeholder="Enter valid email address" />
                        <div id="errFirst"></div>
                    </div>

                    <div class="form-group">
                        <label for="lastname"><span class="req">* </span> Experience : </label>
                        <input class="form-control" type="text" [(ngModel)]="employee.experience" name="experience" id="txt"
                            placeholder="Total year of experience" required />
                        <div id="errLast"></div>
                    </div>

                    <div class="form-group">
                        <label for="email"><span class="req">* </span> Developer: </label>
                        <input class="form-control" required type="text" [(ngModel)]="employee.domain" name="domain"
                            id="email" placeholder="fullstack/backend/developer/DevOps" />
                        <div class="status" id="status"></div>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-success" type="submit" name="submit_reg" value="Submit" (click)="Submit()">
                    </div>
                </fieldset>
            </form><!-- ends register form -->
            <!-- second for to fiter employee-->
        </div><!-- ends col-6 -->

    </div>
</div>

</body>
</html>













